/* Body */
body {
    max-width: 40em;
    margin: 0 auto; /* Top/Bot are 0, Right/Left are auto  */
    background-color: #000000;
    color:#c0d6e4;
    padding:5px;
	/* font-family:Georgia, serif; */
	font-family:"Noto Sans";
	font-size:20px;
	line-height:30px; /* Spacing between each line */
}

/* Create a specific bold */

#home {
    margin-top: 2em;
    text-align: center;
}

h2 {
    margin-top: 2em;
}

#photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:15em;
    height:auto;
}

/* Links */
a {
    text-decoration: none;
    
    /* Experiment with the below atributes */
    /* text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: currentColor;
    text-decoration-thickness: 1px;
    text-underline-offset: .2em; */
    overflow-wrap: break-word; /* To wrap the lines */
    color:#4D84C4;
}

a:visited {
    color:#4D84C4;
    /* color:#6f9cd0; */
}

a:hover {
    text-decoration: underline;
}

/* Navigation Bar */
.navbar {
    /* background-color: #202020; */
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin: 0em;
    text-decoration: none;
    font-size: 20px;
}
  
.navbar a:hover {
    /* background-color: #ddd; */
    color: red;
}
  
.navbar a.active {
    /* background-color: #04AA6D; */
    color: white;
}
