<!DOCTYPE html>
<html lang=en-US>
    <head>
        <meta charset="UTF-8"> <!-- Character encoding, UT-8 recommended for HTML5 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- To make it adapt the size depending on the device -->
        {{ page.meta-redirect }}

        <link rel="icon" href="/images/M_icon.svg">

        {% if page.url == "/" %}
        <meta name="google-site-verification" content="8pcrBfVHUeoPXyMzWwm1iYY1zRNIML8lMc_gra-fWbg" />
        {% endif %}

        <!-- CSS -->
        <!-- <link rel="stylesheet" href="/assets/css/styles.css"> -->
        <!-- <link rel="stylesheet" href="/styles.css"> -->
        <link rel="stylesheet" href="{{ '/styles/styles.css' | relative_url}}">
        <!-- Font -->
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet'>
        <title>{{ page.title }}{% if page.title != "Manuel Lamas" %} | Manuel Lamas{% endif %}</title>
    </head>

    <body>
        <div class="main">
            {% include navigation.html %}
            {{ content }}
        </div>
        {% include footer.html %}
    </body>
</html>