footer {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Align the items at the same 'vertical level' */
    margin: auto auto 0 auto;
 
    /* padding: 5px; */
    /* Attempting to use the same metrics (% in this case) for both margin and padding on this element */
    padding: 0.5%;
    
    min-height: 3em;
    /* background-color: #202020; */

    color: #c0d6e4;
	font-family: "Noto Sans", Georgia;
	font-size: 18px;
}

.footer-name{
    padding: 0 5px;
}

.footer-mail{
    padding: 0 5px;
    font-size: 80%;
    line-height: 100%;
}

.footer-mail a {
    text-decoration: none;
    color:#c0d6e4;
}

.footer-links-section {
    /* margin: auto 0 auto auto; */
    text-decoration: none;
    padding: 5px;
}

.footer-links-section a:hover {
    text-decoration: none;
}

.footer-links img{
    padding: 0 5px;
    width: 1.5em;
}

.filter-white{ // Change svg color
    filter: invert(100%) sepia(54%) saturate(2%) hue-rotate(117deg) brightness(112%) contrast(100%);
}