/* This must be below the main.css due to the general link formatting */

/* Navigation Bar */
.navbar {
    /* background-color: #202020; */
    overflow: hidden;
}

.navbar-elements {
    float: right;
}

.navbar a {
    float: left;
    color: #c0d6e4;
    text-align: center;
    padding: 14px 16px; /* top/bottom right/left*/
    margin: 0em;
    text-decoration: none;
    font-size: 20px;
}
