blockquote p{
    font-style: italic;
    // quotes: '"' '"';
}
blockquote p::before {
    content: open-quote;
}
blockquote p::after {
    content: close-quote;
}

.post-title {
    // color: #4D84C4;
    line-height: 100%;
}

.post-date {
    // color: #4D84C4;
    color: var(--text-faded);
    font-size: 15px;
}

// Thoughts Page
.thoughts-post-title {
    margin-bottom: 0;
}

.thoughts-post-date {
    margin-top: 0;
    font-size: 0.75em;
    color: var(--text-faded);
}