<footer>
    <p class="footer-name">Manuel Lamas</p>
    <p class="footer-mail">manuelbravolamas@gmail.com</p>
    <social>
        <p class="footer-links-section">
            
            <a href="https://www.goodreads.com/user/show/126005490-manuel-lamas" target="_blank" class="footer-links">
                <img src="assets/media/icons/goodreads-svgrepo-com.svg" class="filter-white" alt="Goodreads Logo">
            </a>
            <a href="https://github.com/manuellamas" target="_blank" class="footer-links">
                <img src="assets/media/icons/GitHub-Mark-Light-64px.png" alt="GitHub Logo">
            </a>
        </p>
    </social>
</footer>